VITE_ENV=local
#MIDDLEWARE URL:
VITE_API_URL=http://localhost:3001
#FORMS URL
VITE_KILN_URL=http://localhost:8080

#BCSC DETAILS
VITE_BCSC_AUTHORITY=
VITE_BCSC_CLIENT_ID=
VITE_BCSC_CLIENT_AUTHENTICATION=

# FOR LOCAL DEVELOPMENT DO NOT USE KONG OIDC
VITE_USE_KONG_OIDC=false

# FEATURE FLAGS
VITE_UPLOAD_MEDICAL=false
VITE_RESUBMIT_ON=true
VITE_TRAINING_ON=true
VITE_TRAINING_LINK=http://www.google.ca

#USED TO TEST KINSHIP FROM THE PORTAL
VITE_KINSHIP_START_ON=false

#DEPRECATED
VITE_ACCESS_CODE_RESET=false
