.btn {
  display: flex;
  height: 40px;
  padding: var(--layout-margin-small, 8px) var(--layout-margin-medium, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--layout-margin-small, 8px);
  border-radius: var(--layout-borderRadius-medium, 4px);
  background: var(--surface-color-primary-button-default, #013366);
  border: none;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  }
  
  .btn-primary {
    background-color: #013366;
    color: white;
    
  }

  .btn-primary-bold {
    background-color: #013366;
    color: white;
    font-weight: 700;
  }
  
  .btn-primary:hover {
    background-color: #0059c1;
  }

  .btn-lowkey {
    display: flex;
    height: 40px;
    padding: var(--layout-margin-small, 8px) var(--layout-margin-medium, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--layout-margin-small, 8px);

    border-radius: var(--layout-borderRadius-default, 4px);
    background: var(--surface-color-primary-button-disabled, #EDEBE9);

    color: var(--typography-color-disabled, #9F9D9C);
    text-align: center;

      /* regular/body */
      font-family: "BC Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27.008px; /* 168.8% */
      
  }
  
  .btn-secondary {
    background-color:transparent;
    color: var(--typography-color-link, #255A90);
    text-align: center;
    
    padding: 0px;
    
    /* regular/body */
    font-family: "BC Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.008px; /* 168.8% */
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    border: 1px solid  var(--typography-color-link, #255A90);
  }

  .btn-white {
    display: flex;
    height: 40px;
    padding: var(--layout-margin-small, 8px) var(--layout-margin-medium, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--layout-margin-small, 8px);

    border-radius: var(--layout-borderRadius-medium, 4px);
    border: 1px solid var(--surface-color-border-dark, #353433);
    background: var(--surface-color-secondary-button-default, #FFF);

  }

  .btn-danger {
    background-color: #B4231E;
    color: white;
    border: 1px solid  #B4231E;
    font-weight: 400;
  }

  .btn-danger:hover {
    background-color:  #B4231E;
    color: white;
  }

  .btn-disabled {
    background-color:transparent;
    font-weight: normal;
    color:  #CCCCCC;
    border: 1px solid  #CCCCCC;
  }

  .btn-inprogress {
    background-color:#FCBA19;
    font-weight:700;
    color:  #013366;
    border: 1px solid  #013366;
  }
  
  .btn-tertiary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

  .btn-next {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 0.875rem;
    text-decoration: none;
    padding: 3px 0;
  }

  .btn-next:hover {
    text-decoration: underline;
  }

  .breadcrumb-next-button svg {
    width: 16px;
    height: 16px;
  }

  .btn-nav {
    display: flex;
    height: 40px;
    padding: var(--layout-margin-small, 8px) var(--layout-margin-medium, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--layout-margin-small, 8px);

    border-radius: var(--layout-borderRadius-medium, 4px);
    border: 1px solid var(--surface-color-border-dark, #353433);
    background: var(--surface-color-secondary-button-default, #FFF);
  }

  .btn-nav:hover {
    background: var(--surface-color-menus-hover);
    cursor: pointer;
  }

  .btn-section-header {
    background-color:transparent;
    font-weight: normal;
    color:  #2D2d2D;
    width: 200px;
    text-align: right;
    padding: 0px;
  }

  .btn-section-header:hover {
    background-color:transparent;
  }

  