.btn {
  display: flex;
  height: 40px;
  padding: var(--layout-margin-small, 8px) var(--layout-margin-medium, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--layout-margin-small, 8px);
  border-radius: var(--layout-borderRadius-medium, 4px);
  background: var(--surface-color-primary-button-default, #013366);
  border: none;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  }
  
  .btn-primary {
    background-color: #013366;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0059c1;
  }
  
  .btn-secondary {
    background-color:transparent;
    font-weight: normal;
    color:  var(--typography-color-primary, #2D2d2D);
    border: 1px solid  transparent;
  }

  .btn-danger {
    background-color: transparent;
    color: #B4231E;
    border: 1px solid  #B4231E;
    font-weight: 400;
  }

  .btn-danger:hover {
    background-color:  #B4231E;
    color: white;
  }

  .btn-disabled {
    background-color:transparent;
    font-weight: normal;
    color:  #CCCCCC;
    border: 1px solid  #CCCCCC;
  }

  .btn-inprogress {
    background-color:#FCBA19;
    font-weight:700;
    color:  #013366;
    border: 1px solid  #013366;
  }
  
  .btn-tertiary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

  .btn-nav {
    display: flex;
    height: 40px;
    padding: var(--layout-margin-small, 8px) var(--layout-margin-medium, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--layout-margin-small, 8px);

    border-radius: var(--layout-borderRadius-medium, 4px);
    border: 1px solid var(--surface-color-border-dark, #353433);
    background: var(--surface-color-secondary-button-default, #FFF);
  }

  .btn-section-header {
    background-color:transparent;
    font-weight: normal;
    color:  #2D2d2D;
    width: 200px;
    text-align: right;
    padding: 0px;
  }

  .btn-section-header:hover {
    background-color:transparent;
  }

  