kind: Deployment
apiVersion: apps/v1
metadata:
  name: caregiver-portal
  namespace: {{.Release.Namespace}}
  labels:
    app: caregiver-portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: caregiver-portal
  template:
    metadata:
      labels:
        app: caregiver-portal
    spec:
      containers:
        - name: caregiver-portal
          {{- if eq (last (splitList "-" .Release.Namespace)) "dev" }}
          image: "image-registry.openshift-image-registry.svc:5000/f6e00d-tools/portal:dev"
          {{- else }}
          image: 'image-registry.openshift-image-registry.svc:5000/f6e00d-tools/portal:{{ (last (splitList "-" .Release.Namespace)) }}'
          {{- end }}
          ports:
            - containerPort: 8080
              protocol: TCP
          resources: 
            limits:
              cpu: "500m"
              memory: 512Mi
            requests:
              cpu: "100m"
              memory: 128Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600